body{
    padding: 0;
    margin: 0;
    background-color: lightgrey;
    box-sizing: border-box;
}

.header{
    width: 100%;
}

@media(min-width: 850px)
{
    .header{
        width: 80%;
    }
    
    

}